<div class="row">
  <%= button_to 'Jauns dokuments', new_document_path, method: 'get', class: 'btn btn-primary'%>
</div>
</br>
<div class="row">
  <table class="table table-striped">
    <% @documents.each do |document| %>
    <tr>
      <td><%= link_to document.name, document_path(document) %></td>
      <td><%= truncate(document.description, :length => 30)%></td>
    </tr>
    <% end %>
  </table>

</div>
